<!--Footer-->
<div class="footer footer-12">
    <div class="footer-top clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 footer-about">
                    <div class="inner mb-4 mb-md-0">
                        <img src="~/images/low-res-logo.png" alt="Optimal" class="mb-3" width="100" height="40" />
                        <div class="custom-text mt-1">
                            <p class="mb-10"><b>Email:</b> haiiyenn210@gmail.com</p>
                            <h2><a href="">0362388823</a></h2>
                            <p>Thứ 2 - Thứ 6: 9 am - 6 pm</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-2 footer-links">
                    <h4 class="h4 body-font text-white"> Thông tin </h4>
                    <ul>
                        <li> <a href="my-account.html"> Tài khoản của Tôi </a> </li>
                        <li> <a href="aboutus-style1.html"> Giới thiệu về chúng tôi </a> </li>
                        <li> <a href="login.html"> Đăng nhập </a> </li>
                        <li> <a href="privacy-policy.html"> Chính sách quyền riêng tư </a> </li>
                        <li> <a href="#"> Điều khoản & amp; điều kiện </a> </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-2 footer-links">
                    <h4 class="h4 body-font text-white"> Dịch vụ Khách hàng </h4>
                    <ul>
                        <li> <a href="#"> Tài khoản của tôi </a> </li>
                        <li> <a href="#"> Trung tâm Hỗ trợ </a> </li>
                        <li> <a href="#"> Điều khoản & amp; Điều kiện </a> </li>
                        <li> <a href="#"> Trả lại & amp; Trao đổi </a> </li>
                        <li> <a href="#"> Giao hàng & amp; Giao hàng </a> </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 newsletter-col">
                    <div class="display-table pt-md-3 pt-lg-0">
                        <div class="display-table-cell footer-newsletter">
                            <form action="#" method="post">
                                <label class="h4 body-font text-white"> ĐĂNG KÝ BẢN TIN </label>
                                <p> Nhập email của bạn để nhận tin tức hàng ngày và nhận phiếu giảm giá 20% cho tất cả các mặt hàng. </p>
                                <div class="input-group">
                                    <input type="email" class="border-0 rounded-start mb-0 input-group__field newsletter-input" name="EMAIL" value="" placeholder="Email" required>
                                    <span class="input-group__btn"><button type="submit" class="btn btn-primary newsletter__submit rounded-end" name="commit" id="Subscribe"><i class="an an-envelope-l"></i></button></span>
                                </div>
                            </form>
                            <ul class="list-inline social-icons mt-3">
                                <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="an an-facebook" aria-hidden="true"></i></a></li>
                                <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="an an-twitter" aria-hidden="true"></i></a></li>
                                <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="an an-pinterest-p" aria-hidden="true"></i></a></li>
                                <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="an an-instagram" aria-hidden="true"></i></a></li>
                                <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="TikTok"><i class="an an-tiktok" aria-hidden="true"></i></a></li>
                                <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Whatsapp"><i class="an an-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom clearfix">
        <div class="container">
            <div class="d-flex-center flex-column justify-content-md-between flex-md-row-reverse">
                <img src="assets/images/payment.png" alt="Paypal Visa Payments" />
            </div>
        </div>
    </div>
</div>
<!--End Footer-->