  <!--Body Container-->
<div id="page-content">
    <!--Collection Banner-->
    <div class="collection-header">
        <div class="collection-hero">
            <div class="collection-hero__image"></div>
            <div class="collection-hero__title-wrapper container">
                <h1 class="collection-hero__title">Đặt hàng thành công</h1>
                <div class="breadcrumbs text-uppercase mt-1 mt-lg-2"><a href="index.html" title="Back to the home page">Trangc chủ</a><span>|</span><span class="fw-bold">Đặt hàng thành công</span></div>
            </div>
        </div>
    </div>
    <!--End Collection Banner-->
    <!--Main Content-->
    <div class="container">
        <div class="checkout-success-content py-2">
            <!--Order Card-->
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="checkout-scard card border-0 rounded">
                        <div class="card-body text-center">
                            <p class="card-icon"><i class="icon an an-shield-check fs-1"></i></p>
                            <h4 class="card-title">Cảm ơn bạn đã đặt hàng!</h4>
                            <p class="card-text mb-1">Bạn sẽ nhận được một email xác nhận đơn đặt hàng với các chi tiết về đơn đặt hàng của bạn và một liên kết để theo dõi tiến trình của nó.</p>
                            <p class="card-text mb-1">Mọi thông tin cần thiết về việc giao hàng, chúng tôi đã gửi đến email của bạn</p>
                            <p class="card-text text-order badge bg-success my-3"><a asp-controller="Product" asp-action="Index" style="color:white">Tiếp tục mua hàng</a></p>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!--End Order Card-->
        </div>
    </div>
    <!--End Main Content-->
</div>
<!--End Body Container-->
