@model EquipmentManager.Models.Product

@{
    ViewData["Title"] = "Create";
}


<div class="row">

    <div class="col-md-12" style="padding: 27px;">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thêm mới sản phẩm</h3>
            </div>
            <form asp-action="Create" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6" style="padding: 10px;">
                            <div class="form-group" style="margin-left: 20px;">
                                <label for="exampleInputEmail1">Mã sản phẩm</label>
                                <input type="text" asp-for="Code" class="form-control" id="exampleInputEmail1" placeholder="Mã sản phẩm" style="width: 117px;">
                                <span asp-validation-for="Code" class="text-danger"></span>
                                <span class="text-danger">@ViewBag.error</span>
                            </div>
                            <div class="form-group" style="margin-left: 20px;">
                                <label for="exampleInputPassword1">Tên sản phẩm</label>
                                <input type="text"  asp-for="Name" class="form-control" id="exampleInputPassword1" placeholder="Tên sản phẩm" style="width: 500px;">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="width: 500px;margin-left: 20px;">
                                <label for="exampleInputPassword1">Mô tả</label>
                                <textarea id="summernote" asp-for="Description">

                                </textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding: 10px;">
                            <div class="form-group" style="margin-left: 48px;">
                                <label for="exampleInputPassword1">Danh mục</label>
                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId" style="width: 500px;"></select>
                               
                            </div>
                            <div class="form-group" style="margin-left: 48px;">
                                <label for="exampleInputPassword1">Giá tiền</label>
                                <input type="text" asp-for="Price" class="form-control" id="exampleInputPassword1" placeholder="Giá tiền" style="width: 500px;">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="margin-left: 48px;">
                                <label for="exampleInputPassword1">Giá khuyến mại</label>
                                <input type="text" asp-for="SalePrice"  class="form-control" id="exampleInputPassword1" placeholder="Giá khuyến mại" style="width: 500px;">
                                <span asp-validation-for="SalePrice" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="margin-left: 48px;">
                                <label for="exampleInputFile">Chọn Ảnh</label> 
                                <div class="input-group">
                                    <span class="btn btn-success fileinput-button" style="width: 500px;">
                                        <i class="fas fa-plus"></i>
                                        <span>Chọn Ảnh</span>
                                    </span>
                                    <img src="https://rpfinancelk.com/wp-content/uploads/2020/12/no-image-available-icon-photo-camera-flat-vector-illustration-132483097.jpg" id="show_img" style="width: 57%;margin-left: 91px;margin-top: 10px;">
                                    <input asp-for="Images" type="file"  id="select_file" style="display:none;width: 57%;margin-left: 91px;margin-top: 10px;">
                                </div>
                                <span asp-validation-for="Images" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" value="Create" class="btn btn-info"><i class="fas fa-save"></i> Lưu</button>
                    <a type="submit" asp-action="Index" class="btn btn-default float-right"><i class="fas fa-undo-alt"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
